<%- include("header.ejs"); %>


  <body>


	<%- include("menu.ejs"); %>

	<p class="pageTitle">Main</p>


	<img src="/beeyondPictures/drone_on_ground.jpg" style="width:20%;position:absolute;top:25%;left:3%"/>


	<div class="centralDiv">

		<h2>Description du projet Beeyond</h2>

		<p>

		Beeyond est un projet basé sur des <b>abeilles électroniques</b> qui ont un comportement très proche de celui de vraies abeilles.</br>

		L'idée est d'affecter des missions au drone pour voler suivant des points de cheminement et des altitudes différentes,</br>
		realisant ainsi la collecte de données concernant <b>la qualite de l'air</b>.</br>
		</br>

		Ces drones assurent des vols à 100 % autonome et permettent <b>une collecte en temps réel</b> des données vers nos serveurs.</br>

		Beeyond est complètement dédié aujourd'hui à l'analyse de la qualité de l'air.</br>

		Nos vols vont servir à contrôler et assurer les outils de mesure de qualite de l'air pour soutenir les compagnies </br>
		et les organisations à avoir <b>une couverture	encore plus large</b> du climat dans lequel nous vivons.</br>

		Nos études sont basées sur la détection des <b>particules polluantes</b> qui ont de l'impact direct sur notre santé.</br>

		Nous cherchons à assurer la couverture la plus large d'aujourd'hui grâce à l'utilisation de drones autonome pour mesurer</br>
		cette pollution invisible et limiter sa progression.</br>

		</p>


	</div>


  


</body>






</html>
