<div id="registerFormContainer">

  <form id="loginForm" method="post" action='<%= baseUrl%>:<%=expressPort %>/connexion' method='post' step=0>

    <img src="/css/icon/removeIcon.png" id="loginFormRemove" class="removeIcon"/>

    <center>
    <p class="newsletterSubscriptionTitle"><em>Connexion</em></p>
    </center>



    <center><label for="mail" class="newsletterSubscriptionLabel">Adresse mail : </label></center>
    <center><input class="newsletterSubscriptionField" type="text" name="mail"></center>
    </br>

    <center><label for="password" class="newsletterSubscriptionLabel">Mot de passe : </label></center>
    <center><input class="newsletterSubscriptionField" type="password" name="password"></center>
    </br>


    <center><input class="newsletterSubscriptionSumbit"  type="submit" value="Connexion"></center>

  </form>

</div>
