<div id="rightInfoContainer">

  <form id="rightInfoForm" step=0>

    <img src="/beeyondLogoBlack.png" id="pageActionner" class="beeyondLogoBlack" />

    <center><p class="rightInfoTitle">Lorem ipsum</p></center>

    <center><p class="rightInfoField">lorem ispum er sum lorem psum</p></center>

  </form>

</div>
